Flask==3.0.3
flask[async]
pytest==8.3.3
pytest-mock==3.14.0
PyPDF2
python-docx
pandas
openpyxl
pytesseract
Pillow
pyheif
pillow-heif
transformers
torch 
torchvision 
torchaudio
uvicorn
aiofiles
pytest-asyncio
asgiref
